* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
/* Header */

#header {
  position: 0;
  right: 260px;
} 
.search {
  display: flex;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left:-20px;
}
.search__logo {
  margin-right: 30px;
}
#logo2 {
  width: 130px;
  height: 45px;
}
#word {
  width: 550px;
  height: 45px;
  border: 2px solid #0096a5;
  border-radius: 24px;
  outline: none;
}
#button {
  cursor: pointer;
  background: transparent;
  border: none;
  position: relative;
  right: 60px;
  top: 4px;
}
.fas {
  font-size: 24px;
  color: #0096a5;
}
.blank{
	height:20px;
}
/* Section */
h2{
  color: #0096a5;
  border:solid 1px ;
  padding:10px; 
}
form{
  border:solid 1px #0096a5;
  padding:30px 200px;
  font-size:20px;
  color: #0096a5;
}
/* */
.c1 {
  background-color: #ffffff;
  border: 1px solid #0096a5;
}
.c2 {
  background-color: #0096a5;
  color: #ffffff;
  border: 1px solid #bdbdbd;
}

/* send */
.sendBox{
  padding-left:300px;
}
.send{
  background-color:white;
  color: #0096a5;	
  border:solid 1px white;
  height:45px;
  width:60px;
  cursor:pointer;
  float:left; 
  font-weight:bold; 
  padding:0;
}
/* tab1 */
.tab1 {
  overflow: hidden;
  /*border: 1px solid #0096a5;*/
  background-color: white;
  width:1260px;
  padding-left:20px;

}

.tab1 button {
  background-color: inherit;
  float: left;
  border: none;
  color:#0096a5;
  font-weight:bold;
  font-size:17px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width:200px;

}


.tab1 button:hover {
  background-color: #0096a5;
  color:white;
}

/* .tab1 button.active { */
/*   background-color: #0096a5; */
/* } */
.tab1 button:focus {
  background-color: #0096a5;
  color:white;
}
/* Footer */
#footer {
  margin-top: 32px;
  margin-bottom: 12px;
}
#footer__icon {
  width: 20px;
  height: 20px;
}
.footer__rights {
  font-size: 14px;
  vertical-align: 5px;
  margin-left: 4px;
}

table{
	
  width: 1260px;
  display: flex;
  margin-bottom: 30px;
  	
}

.submit{
	
	position: relative;
	width : 67%;
	top:16px;
	left:29px;
	border-radius: 20px;
	background-color: yellowgreen;
		
}

